html(lang="en")
  head
    link(rel="stylesheet" href="../css/field.css")
    link(rel="stylesheet" href="../css/main.css")
    //- link(rel="stylesheet" href="../css/cursor.css")
    title Тетрис
    body
        main
          include ./field.pug
        <script type="module" src="../js/game.js"></script>